@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    
}
body{
    font-family: "montserrat","sans-serif";
    color: white;
    background-color: rgb(49, 44, 44);
}
header{
    width: 100%;
}
header h1{
    font-size: 40px;
    text-align: center ;
    background-color: black;
    padding: 20px;
}
.icon{
    height: 90px;
}
.btn-icon{
    background: transparent;
    border: none;
    border: 3px solid  black;
    height:200px ;
    width:200px ;
    margin-right: 40px;
    
}
.btn-head{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.res{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.panel-icon{
    height: 60px;
    font-size: 30px;
}
.panel-box-head{
    display:flex;
    justify-content: center;
    margin-top: 30px;


}
.panel-box{
    border: 2px solid white;
    padding: 30px;
    line-height: 40px;
}
.reset{
    border: none;
    background-color: beige;
    height:30px ;
    width:100% ;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
@media (max-width:420px) {
    header h1{
        font-size: 20px;
    }
    .icon{
        height:60px ;
    }
    .btn-icon{
        height:150px ;
        border: none;
        margin-right: 0;
    }
    .panel-box{
        padding: 20px;
        border-width: 1px;
        
    }
}

    
    
